<form action="{% url 'hotel:check_available_hotels' %}" method="get">
    <!-- {% csrf_token %} -->
    <div class="check-date">
        <label for="date-in">Check In:</label>
        <input type="date" id="date-in" name="check-in">
        <i class="icon_calendar"></i>
    </div>
    <div class="check-date">
        <label for="date-out">Check Out:</label>
        <input type="date" id="date-out" name="check-out">
        <i class="icon_calendar"></i>
    </div>
    <div class="select-option">
        <label for="guest">City:</label>
        <select id="guest" name="city">
            <option value="tehran">Tehran</option>
            <option value="shirax">Shiraz</option>
            <option value="esfahan">Esfahan</option>
            <option value="mashahd">Mashahd</option>
            <option value="mashahd">Hamedan</option>
        </select>
    </div>
    <div class="select-option">
        <label for="room">Room Type:</label>
        <select id="room" name="room">
            <option value="Single">Single</option>
            <option value="Double">Double</option>
            <option value="Suit">Suit</option>
        </select>
    </div>
    <button type="submit">Check Availability</button>
</form>